<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="/styles/whitespace-reset.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <script type="text/javascript" src="/javascripts/flash-messages.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <menu>
          <li>
            <a href="/library">Library</a>
          </li>
          <li>
            <a href="/library/new">Upload</a>
          </li>
          <% if signed_in? %>
            <li>
              <form class="user-action" action="/users/signout" method="post">
                <p class="user-status">
                  Signed in as:
                  <%= cur_username %>
                  <button type="submit">Sign Out</button>
                </p>
              </form>
            </li>
          <% end %>
        </menu>

        <ul class="flash-messages">
          <% if session[:messages] %>
            <% session[:messages].each do |msg| %>
              <li
                class="flash-message <%= msg.css_class %>"
                data-dismissable="<%= msg.dismissable %>"
                data-timeout="<%= msg.timeout %>"
              ><%= msg %>
              </li>
            <% end %>
            <% session[:messages].clear %>
          <% end %>
        </ul>

      </nav>
    </header>
    <main id="content">
      <%== yield %>
    </main>
  </body>
</html>
